<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="okhttp3.logging.HttpLoggingInterceptor" level="DEBUG" /> <!-- 设置日志级别为 DEBUG 以启用日志。将其更改为 WARN、ERROR 或 OFF 以禁用日志。 -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>